.pagination {
	display: flex;
	width: 100%;
	gap: 8px;
	align-items: center;
	justify-content: center;
}

.pageNumber,
.arrow {
	border: none;
	background-color: white;
	cursor: pointer;
	width: 32px;
	height: 32px;
}

.pageNumber:disabled,
.arrow:disabled {
	cursor: default;
}

.pagination.dark .pageNumber:not(:disabled),
.pagination.dark .arrow {
	background-color: #23272f;
	color: #f6f7f9;
}

.pagination.light .pageNumber:not(:disabled),
.pagination.light .arrow {
	background-color: white;
	color: black;
}


.arrow:disabled:hover,
.arrow:disabled:focus-visible {
	background-color: transparent;
	border: none;
}
.pageNumber:disabled{
	background-color: #4e71e1;
	border-radius: 50%;
	color:white;
}

.pagination.light .pageNumber:hover:not(:disabled),
.pagination.light .arrow:hover,
.pagination.light .pageNumber:focus-visible:not(:disabled),
.pagination.light .arrow:focus-visible {
	background-color: #1a1a1a;
	border-radius: 50%;
	outline: none;
	color: #ffffff;
}

.pagination.dark .pageNumber:hover:not(:disabled),
.pagination.dark .arrow:hover,
.pagination.dark .pageNumber:focus-visible:not(:disabled),
.pagination.dark .arrow:focus-visible {
	background-color: #ffffff;
	border-radius: 50%;
	outline: none;
	color: #1a1a1a;
}

.list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap:2px;
}

