.pagination {
	display: flex;
	width: 100%;
	gap: 8px;
	align-items: center;
	justify-content: center;
}

.pageNumber,
.arrow {
	border: none;
	background-color: white;
	cursor: pointer;
	width: 32px;
	height: 32px;
}

.pageNumber:disabled,
.arrow:disabled {
	cursor: default;
}

.arrow:disabled:hover,
.arrow:disabled:focus-visible {
	background-color: transparent;
	border: none;
}
.pageNumber:disabled{
	background-color: #4e71e1;
	border-radius: 50%;
	color:white;
}

.pageNumber:hover,
.arrow:hover,
.pageNumber:focus-visible,
.arrow:focus-visible {
	background-color: #1a1a1a;
	border-radius: 50%;
	outline: none;
	color: #ffffff;
}

.list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap:2px;
}

